.App{
    text-align:center
}

body{
    background-image: linear-gradient(#7ce6e0,#3b6b77);
}

/*  */

.btn {
    position: relative;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
    span {
      transition: all 0.3s;
      tranform: scale(1, 1);
    }
  }
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  /* BTN TWO */
.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
      height: 100%;
    bottom: 0;
      left: 0;
      z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .btn-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .btn-two:hover::after, .btn-two:hover::before {
    left: 96px;
    width: 64px;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }
  
  .container-2{ 
    height: fit-content;
    width: fit-content;
    margin-top: 8%;
    margin-left: 40%;
    }

    .container-2:hover{
        background-color: #6dcac6;
    }
/*  */

.Welcome{
    font-weight: 700;
    font-size: 20px;
}

.intro-text{
    font-weight: 100;
    font-size: 16px;
}

.Stepper{
  background-color: transparent;
}

.heading-2{
  color:whitesmoke;
  font-size:80px;
  font-weight: 100;
}



.error{
  color: red;
}


.line{
  margin-top: -80%;
  position: absolute;
  margin-left: 447px;
  color:white;
  height: 500px;
  border-left: 6px solid whitesmoke;
}

.signup{
  position: absolute;
  margin-left: 15%;
}

.forms{
  margin-left: 50%;
  margin-top: 2%;
  font-size: 20px;
  color: aliceblue;
  overflow: hidden auto;
  max-height: 550px;
}

.signup-para{
  position: absolute;
  width: 600px;
  line-height: 50px;
  font-size: 30px;
  margin-left: -65%;
  color: #36626d;
  font-weight: 100;
  margin-top: 2%;
}

.label{
  height: 1px;
}

.next{
  background-image: linear-gradient(#a3fffc 40%,#58a5a1);
}

.reset-div{
  height: fit-content;
  width: fit-content;
  position: absolute;
  border: 1px solid #61b8b8;
  margin-left: 34%;
}

.reset-div:hover{
  box-shadow: #49a8a8 2px 2px 1px;
}

.reset{
  height: 100px;
  width: 400px;
  font-size: 15px;
  
}

.completed{
  color: white;
  font-size: 40px;
  font-weight: 100;
  margin-top: 5%;

}

.completed-p{
  font-size: 20px;
  margin-top: 6%;
}